.cardWrapper {
    position: relative;
}

.card {
    position: relative;
    z-index: 1;
}

.cardWrapper::before,
.cardWrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(45px);
    opacity: 0.23;
    z-index: 0;
    pointer-events: none;
}

.cardWrapper::before {
    top: -3rem;
    left: -2rem;
    background-color: #d8e2ff2a;
}

.cardWrapper::after {
    top: 4rem;
    left: 4rem;
    background-color: #4edea22f;
}