.addComp {
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.addComp::after, .addComp::before {
    content: "";
    position: absolute;
    inset: -3px;
    background-image: conic-gradient(from var(--angle), #00174d, transparent, #6694ff, transparent, #00174d);
    z-index: -1;
    border-radius: 15px;
    animation: spin 3s linear infinite;
}

.addComp::before {
    filter: blur(15px);
    opacity: 0.8;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.graphObj1 {
    animation: float-V 5s ease-in-out infinite;
}

.graphObj2 {
    animation: float-H 5s ease-in-out infinite;
}

.graphObj3 {
    offset-path: path("M 7 -10 C 10 -2, 10 5, -2 7 C -12 9, -12 -8, 7 -10");
    -webkit-offset-path: path("M 7 -10 C 10 -2, 10 5, -2 7 C -12 9, -12 -8, 7 -10");
    offset-rotate: 0deg;
    animation: floatInArch 7s linear infinite;
}

.graphObj4 {
    animation: blink 2s ease-in-out infinite;
}

@keyframes float-V {
  0% {
    transform: translateY(0px) scale(0.95);
  }
  50% {
    transform: translateY(8px) scale(1.02);
  }
  100% {
    transform: translateY(0px) scale(0.95);
  }
}

@keyframes float-H {
  0% {
    transform: translateX(0px) scale(0.95);
  }
  50% {
    transform: translateX(8px) scale(1.02);
  }
  100% {
    transform: translateX(0px) scale(0.95);
  }
}

@keyframes floatInArch {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes blink {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

